.App {

}
.container {
  display: flex;
  justify-content: space-around;
}
.team {
  display: inline-block;
  margin-left: 10px;
}
.delete{
  color: white;
  background: red;
  border: 1 black solid;
}
.input {
  margin-left: 10px;
}
.matchUp {
  text-align: center;
}
.buttonCont {
  border-bottom: 2px white solid;
}
.submit {
  margin: 10px 150px;
}
.gamesCont {
  margin-left: 20px;
}
.deleteMatchup {
  position: relative;
  float: right;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
table {
  margin-bottom: 20px;
  width: 500px;
}
th, td {
  padding: 10px;
  text-align: left;
}